{% extends "../layouts/base.twig" %}
{% block style %}
	<link rel="stylesheet" href="./assets/css/dashboard.css">
{% endblock %}

{% block title %}
	<title>Dashboard</title>
{% endblock %}

{% block main %}
	<main>
		<section id="dashboard-section">
			<h1>Tableau de bord</h1>

            <p>Bienvenue sur le tableau de bord de votre équipe </p>
			
		</section>
	</main>
{% endblock %}